#navbar p {
  display: inline;
}

#navbar {
  display: flex;
  justify-content: space-evenly;
}

#secondgrid p {
  text-align: justify;
}

#firstgrid {
  grid-template-columns: 1fr 3fr;
}

#firstgrid h1 {
  font-size: 4.5rem;
  padding: 0px;
}

#secondgrid {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

#paragraph {
  padding: 20px;
}

#secondgrid img {
  width: 90%;
  height: 80%;
  padding: 20px;
}

#secondgrid #button1 {
  width: 45%;
  height: 10%;
}

#secondgrid #button2 {
  width: 47%;
  height: 10%;
  margin-left: 30px;
}

#search {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
}

#thirdgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#six {
  display: flex;
}
